aiobotocore==3.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aioitertools==0.13.0
aiosignal==1.4.0
asciitree==0.3.3
async-timeout==5.0.1
attrs==25.4.0
botocore==1.42.61
click==8.3.1
cloudpickle==3.1.2
dask==2026.1.2
fasteners==0.20
frozenlist==1.8.0
fsspec==2026.2.0
idna==3.11
importlib-metadata==8.7.1
jmespath==1.1.0
locket==1.0.0
multidict==6.7.1
numcodecs==0.13.1
numpy==2.2.6
packaging==26.0
partd==1.4.2
propcache==0.4.1
python-dateutil==2.9.0.post0
pyyaml==6.0.3
s3fs==2026.2.0
six==1.17.0
toolz==1.1.0
typing-extensions==4.15.0
urllib3==2.6.3
wrapt==2.1.2
yarl==1.23.0
zarr==2.18.3
zipp==3.23.0
